@model List<MovieApp.Models.ViewModels.GenreViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<title>Tür Listesi</title>
<a style="float:left; font-size:inherit; color:#36b9bf;" href="/genre/genreadd">▹Tür Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Tür Id</th>
            <th>Tür Adı</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GenreId)</td>

                <td>@Html.DisplayFor(modelItem => item.GenreName)</td>

                <td>@Html.DisplayFor(modelItem => item.Status)</td>

                <td>@Html.ActionLink("Aktif", "GenreActive", new { id = item.GenreId }, new { @class = "btn btn-success", onclick = "return confirm('U Y A R I   |   Seçilen kategoriyi aktif etmek üzeresiniz..');" })</td>

                <td>@Html.ActionLink("İnaktif", "GenreInactive", new { id = item.GenreId }, new { @class = "btn btn-warning", onclick = "return confirm('U Y A R I   |   Seçilen kategoriyi inaktif etmek üzeresiniz..');" })</td>

                <td>@Html.ActionLink("Düzenle", "GenreGet", new { id = item.GenreId }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>